
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@model List<Admin.Models.Sach>


<div class="right_col" role="main" style="min-height: 3753px;">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách sách</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th>
                                        <div class="icheckbox_flat-green" style="position: relative;">
                                            <input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                    </th>
                                    <th class="column-title">Mã sách </th>
                                    <th class="column-title">Tên sách</th>
                                    <th class="column-title">Giá bán</th>
                                    <th class="column-title">Mô tả </th>
                                    <th class="column-title">Ảnh bìa</th>
                                    <th class="column-title">Ngày cập nhật</th>
                                    <th class="column-title">Số lượng tồn</th>
                                    <th class="column-title"> nhà xuất bản</th>
                                    <th class="column-title"> chủ đề</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr class="even pointer">
                                    <td class="a-center ">
                                        <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                    </td>
                                    <td class=" ">@item.MaSach</td>
                                    <td class=" ">@item.TenSach</td>
                                    <td class=" ">@item.GiaBan</td>
                                    <td class=" ">@item.MoTa</td>
                                    <td class=" "> <img class="card-img-top anh" src="~/User/images/01.jpg" width="150" height="250" /></td>
                                    <td class=" ">@item.NgayCapNhat</td>
                                    <td class=" ">@item.SoLuongTon</td>
                                    <td class=" ">@item.MaNxb</td>
                                    <td class=" ">@item.MaChuDe</td>
                                    <td class="">
                                        @Html.ActionLink("Edit", "EditBook", new { id = item.MaSach }) ||
                                        @Html.ActionLink("Delete", "DeleteBook", new { id = item.MaSach })
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>